.d-Drops {
  overflow: hidden;
  background: #ced2dc;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__Widgets {
    display: flex;
    gap: 2vw;
    align-items: flex-start;
  }

  &__Widget {
    background: white;
    border-radius: 1vw;
    padding: 1vw;
  }

  &__WidgetHeader {
    line-height: 1;
    padding-bottom: 1vw;
    margin-bottom: 1vw;
    font-size: 1.5vw;
  }

  &__NextPairWidget {
    padding: 1vw;
  }

  &__NextPair {
    display: flex;
    justify-content: center;
  }

  &__PointsWidget {
    font-size: 2.5vw;
  }

  &__Points {
    min-width: 5ch;
  }

  &__GooLayers {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__GooLayer {
    filter: url(#goo);
    position: absolute;
    top: 0;
    left: 0;
  }

  &__PairCell {
    transform: scale(0);
  }

  &__PairCell--Active {
    animation: CellPopIn 0.3s linear forwards;
    transform: scale(1);
  }

  &__GameoverOverlay {
    width: 100vw;
    height: 100vh;
    background: white;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: sans-serif;
  }

  &__Overlay {
    width: 100vw;
    height: 100vh;
    background: white;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
  }

  &__PauseOverlay {
    padding: 2rem 5rem;
    opacity: 1;
    display: flex;
    gap: 10rem;
  }

  &__PauseOverlayIcon {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 1.5rem;
    gap: 0.5rem;
  }

  &__PauseOverlaySection:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  &__PauseOverlayHeading {
    font-weight: bold;
  }

  &__Controls {
    display: flex;
    flex-flow: row wrap;
  }

  &__ControlName {
    flex-basis: 20%;
  }

  &__ControlKey {
    flex-basis: 70%;
    flex-grow: 1;
    margin: 0;
    font-style: italic;
  }

  &__Icon {
    height: 7rem;
  }

  &__Introduction {
    width: 50ch;

    & > p:first-child {
      margin-top: 0;
      margin-bottom: 2rem;
    }
  }

  &__CTA {
      margin-top: 3rem;
      font-size: 2.5rem;
      font-weight: bold;
  }
}

@keyframes DropsFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes DropsHighlight {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes CellPopIn {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
